.card-div{
    position: sticky;
    top: 70px;
    height: 80vh;
}
.total-salary{
    width: 100%;
    position: absolute; 
    bottom: 0; 
    text-align: center;
    background-color: rgb(90, 172, 126);
    padding: 10px;
    border-radius: 5px;
    z-index: 3;
}
.player-list{
    position: sticky;
    top: 70px;
    height: 65vh;
    overflow-y: scroll;
    border-left: 2px solid gray;
}
.team-card{
    position: relative;
    padding-bottom: 50px;
}